---
import { Image } from "astro:assets";
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote";
// Mod sections
import StringExports from "./mod-list/StringExports.astro";
import Hairstyles from "./mod-list/Hairstyles.astro";
import BrokenLinks from "./mod-list/BrokenLinks.astro";
import Head from "./mod-list/Head.astro";
import UpperBody from "./mod-list/UpperBody.astro";
import LowerBody from "./mod-list/LowerBody.astro";
import Skin from "./mod-list/Skin.astro";
//
import TextContent from "@/components/wrappers/TextContent.tsx";
//
// Props
interface Props {
  locale: "en" | "ja" | "pt" | "es";

  localizedWCIF: string;
}
const { locale, localizedWCIF } = Astro.props;
const localizedUpdated = {
  en: "Last updated: november 2024",
  ja: "最終更新: 2024年11月",
  es: "Última actualización: noviembre de 2024",
  pt: "Última atualização: novembro de 2024",
};
const localizedSeamNotice = {
  en: "The upper body uses Gen3 textures (for EXQB), while the lower body uses Bibo+ textures (for Neighsayer).\nA faint skin color seam will appear near the navel, due to slight differences in texture.",
  ja: "上半身にはGen3テクスチャ（EXQB用）が、下半身にはBibo+テクスチャ（Neighsayer用）が使用されています。\n肌の色にわずかな差があるため、へその近くにシームが現れます。",
  es: "La parte superior del cuerpo usa texturas Gen3 (para EXQB), mientras que la parte inferior usa texturas Bibo+ (para Neighsayer).\nDebido a ligeras diferencias en las texturas, aparecerá una tenue línea de color de piel cerca del ombligo.",
  pt: "A parte superior do corpo usa texturas Gen3 (para EXQB), enquanto a parte inferior usa texturas Bibo+ (para Neighsayer).\nDevido a pequenas diferenças nas texturas, uma leve linha de cor da pele aparecerá próxima ao umbigo.",
};
const localizedTemplatesExplanation = {
  en: "Each hairstyle has an unique earring placement, which may cause clipping with other Customize+ settings",
  ja: "それぞれのヘアスタイルにはイヤリングの位置があり、他のCustomize+の設定でクリッピングを引き起こす可能性があります。",
  es: "Cada peinado tiene una posición única para los pendientes, lo que puede causar recortes con otros ajustes de Customize+.",
  pt: "Cada penteado tem uma posição exclusiva para os brincos, o que pode causar recortes com outras configurações do Customize+.",
};
---

<style is:global>
  body .mdx h3 {
    font-family: "regular", sans-serif;
  }
  .mdx notice {
    white-space: pre-line;
  }
</style>
<div class="flex items-center">
  <Image
    loading="eager"
    src="/icons/content/charrefs/ItemCategory_Crystal.svg"
    class="h-11 mobile-only:h-6 w-auto mr-4 dark:invert"
    alt={`${localizedWCIF} icon`}
    width={44}
    height={44}
  />
  <h3
    id="wcif-list"
    class="regular"
    aria-label={localizedWCIF}
    title={localizedWCIF}
  >
    {localizedWCIF}
  </h3>
</div>
<TextContent>
  <div id="wcif" class="mobile-only:p-2">
    <div>
      <div
        class="mobile-only:flex not-mobile:absolute not-mobile:top-10 not-mobile:right-10 justify-end"
      >
        <StyledBlockquote blockquoteType={BlockquoteType.Updated}>
          <notice class="light">{localizedUpdated[locale]}</notice>
        </StyledBlockquote>
      </div>
      <div class="flex justify-center">
        <div class="mdx mb-5">
          <Hairstyles locale={locale} />
          <Head locale={locale} />
          <Skin locale={locale} />
          <UpperBody locale={locale} />
          <LowerBody locale={locale} />
          <div class="my-[2%]">
            <StyledBlockquote blockquoteType={BlockquoteType.Info}>
              <div class="grid">
                <notice class="light">
                  {localizedSeamNotice[locale]}
                </notice>
              </div>
            </StyledBlockquote>
          </div>
          <StringExports locale={locale} />
          <div class="my-[2%]">
            <StyledBlockquote blockquoteType={BlockquoteType.Info}>
              <div class="grid">
                <notice class="light">
                  {localizedTemplatesExplanation[locale]}
                </notice>
              </div>
            </StyledBlockquote>
          </div>
          <BrokenLinks locale={locale} />
        </div>
      </div>
    </div>
  </div>
</TextContent>
