---
import SlideAnimationLogic from "@/components/layout/aside/components/SlideAnimationLogic.astro";
import { Image } from "astro:assets";
import WingspanBrandIcon from "/favicon.ico";
import DrawerCloseButton from "@/components/layout/aside/components/DrawerCloseButton.astro";
import DivisorLine from "@/components/navigation/DivisorLine.astro";
import LanguageSelector from "@/components/logic/LanguageSelector.tsx";
import SocialsIcons from "@/components/navigation/SocialsIcons.astro";
//
import DrawerOpenButton from "@/components/layout/aside/components/DrawerOpenButton.astro";
//
import DrawerFooterPadding from "@/components/tools/mobile-browser-fixes/DrawerFooterPadding.astro";
import VersionDisplay from "@/components/tools/VersionDisplay.tsx";
//
interface Props {
  locale: "en" | "ja" | "pt" | "es";
}
//
const { locale } = Astro.props;
//
import {
  createNavItems,
  createSubNavItems,
} from "@/components/layout/aside/components/nav-items/navItems.ts";
import NavigationMenu from "@/components/layout/aside/components/nav-items/NavigationMenu.astro";
//
const currentPath = Astro.url.pathname + Astro.url.search + Astro.url.hash;
//
import { localizedHome } from "@/components/layout/aside/components/nav-items/utils";
//
const navItems = createNavItems(locale);
const subNavItems = createSubNavItems(locale);
---

<DrawerOpenButton locale={locale} />
<aside
  id="drawer-menu-wrapper"
  class="fixed top-0 left-0 h-screen
  z-[9999]
  shadow-[2px_0_5px_2px_rgba(0,0,0,0.5)]
  rounded-tr-lg rounded-br-lg select-none"
>
  <DrawerCloseButton locale={locale} />
  <div
    class="h-full flex flex-col
    px-5 w-1560:px-[35px] ultrawide-only:px-10
    bg-[#efefef] text-[#181a1b] dark:bg-[#181a1b] dark:text-[#efefef]"
  >
    <div id="drawer-header" class="mt-[5%]">
      <a
        href={localizedHome(locale)}
        id="wingspan-wrapper"
        class="flex justify-center"
      >
        <Image
          loading="eager"
          src={WingspanBrandIcon}
          width={128}
          height={128}
          class="ultrawide-only:w-32 w-28 w-1560:w-24 w-1150:w-20 mobile-only:w-16 h-auto"
          alt="Di-XIV Brand Icon"
        />
      </a>
    </div>
    <DivisorLine />
    <div id="drawer-menu-container" class="flex flex-col overflow-y-auto">
      <div id="drawer-nav" class="flex pt-5">
        <NavigationMenu
          navItems={navItems}
          subNavItems={subNavItems}
          currentPath={currentPath}
          locale={locale}
        />
      </div>
    </div>
    <div id="drawer-footer" class="">
      <div class="flex justify-center mt-[10%] mb-[10%]">
        <LanguageSelector client:load />
      </div>
      <div class="flex justify-center mb-[1%]">
        <SocialsIcons />
      </div>
      <DivisorLine />
      <div
        id="drawer-version"
        class="mb-[10%] flex justify-center light mt-2 regular"
      >
        <div class="flex">
          <Image
            loading="eager"
            src={WingspanBrandIcon}
            width={36}
            height={36}
            class="w-9 h-auto relative mobile-only:-top-[6px] not-mobile:-top-[2px] left-[1px]"
            alt="Di-XIV Brand Icon"
          />
        </div>
        <VersionDisplay />
      </div>
    </div>
  </div>
</aside>
<div id="drawer-shade" class="fixed top-0 left-0 w-full h-full z-[9998] hidden">
</div>
<SlideAnimationLogic />
<DrawerFooterPadding />
