---
import { Image } from "astro:assets";
import WCIFMDX from "@/prose/CharacterReferences/WCIF.en.mdx";
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote.tsx";

interface Props {
  locale: "en" | "ja" | "pt" | "es";
  localizedWCIF: string;
}

const { locale, localizedWCIF } = Astro.props;

const lastUpdatedText = {
  en: "Last updated: September 2024",
  ja: "最終更新日: 2024 年 9 月",
  es: "Última actualizacion: septiembre de 2024",
  pt: "Última atualização: setembro de 2024",
};

const languageUnavailableText = {
  ja: "英語のみで利用可能",
  es: "Solo disponible en inglés",
  pt: "Disponível apenas em inglês",
};
---

<style is:global>
  body .mdx h2,
  body .mdx h3 {
    font-family: "regular", serif;
    font-weight: normal;
    font-style: normal;
  }
  body .mdx p,
  body .mdx ul {
    font-family: "light", serif;
    font-weight: normal;
    font-style: normal;
    line-height: 2rem;
  }
  body .mdx a {
    text-decoration: underline;
  }
</style>

<details
  id="wcif"
  class="shadowless-glassbox mobile-only:p-2 p-3 rounded-lg"
  title={localizedWCIF}
>
  <summary class="flex items-center">
    <Image
      loading="eager"
      src="/icons/content/charrefs/modeling-svgrepo-com.svg"
      class="h-11 mobile-only:h-6 w-auto mr-4"
      alt={`${localizedWCIF} icon`}
      width={44}
      height={44}
    />
    <h2
      class="text-extra w-1150:text-large mobile-only:text-base regular"
      aria-label={localizedWCIF}
      title={localizedWCIF}
    >
      {localizedWCIF}
    </h2>
  </summary>
  <div
    class="mobile-only:flex not-mobile:absolute not-mobile:top-1 not-mobile:right-0 justify-end"
  >
    {
      locale !== "en" && (
        <StyledBlockquote blockquoteType={BlockquoteType.Language}>
          <p
            class="light mobile-only:text-sm"
            aria-label={languageUnavailableText[locale]}
            title={languageUnavailableText[locale]}
          >
            {languageUnavailableText[locale]}
          </p>
        </StyledBlockquote>
      )
    }
    <StyledBlockquote blockquoteType={BlockquoteType.Updated}>
      <p
        class="light mobile-only:text-sm"
        aria-label={lastUpdatedText[locale]}
        title={lastUpdatedText[locale]}
      >
        {lastUpdatedText[locale]}
      </p>
    </StyledBlockquote>
  </div>
  <div class="flex justify-center">
    <div class="mdx mb-[2%] mt-[1%] pb-[3%]">
      <WCIFMDX />
    </div>
  </div>
</details>
