---
import Master from "@/layouts/Master.astro";
// Index content
import GetLastGallery from "@/app/index/GetLastGallery.tsx";
import TwitterEmbed from "@/components/embeds/TwitterEmbed.astro";
//
interface Props {
  // From Master
  locale: string;
  /// Meta
  metaDescription: string;
  metaKeywords: string;
  /// OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  /// Aside
  localizedAcknowledgements: string;
  localizedCharRefs: string;
  localizedCommWorks: string;
  localizedContact: string;
  localizedFAQ: string;
  localizedInquiries: string;
  localizedToU: string;
  // Index
  localizedLatestComm: string;
  localizedLatestTweet: string;
}
const {
  locale,
  localizedAcknowledgements,
  localizedToU,
  localizedInquiries,
  localizedFAQ,
  localizedContact,
  localizedCommWorks,
  localizedCharRefs,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  localizedLatestComm,
  localizedLatestTweet,
} = Astro.props as Props;
---

<Master
  locale={locale}
  currentPage="index"
  localizedAcknowledgements={localizedAcknowledgements}
  localizedCharRefs={localizedCharRefs}
  localizedCommWorks={localizedCommWorks}
  localizedContact={localizedContact}
  localizedFAQ={localizedFAQ}
  localizedInquiries={localizedInquiries}
  localizedToU={localizedToU}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
  headerContent="Di-XIV"
  localizedCopiedCustomizeString=""
  localizedCopiedGlamourerString=""
>
  <div class="w-[80%] ml-[10%]">
    <div class="grid grid-cols-1 gap-y-1 my-[5%]">
      <p class="light">Hello there 🐈‍⬛</p>
      <div id="latest-comm" class="flex mobile-only:mt-[5%]">
        <details class="mobile-only:w-[95%] glassbox p-2 rounded-md">
          <summary class="flex items-center">
            <div class="dark:invert mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-9 h-auto dark:invert"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M13.5 8H12v5l4.28 2.54l.72-1.21l-3.5-2.08zM13 3a9 9 0 0 0-9 9H1l3.96 4.03L9 12H6a7 7 0 0 1 7-7a7 7 0 0 1 7 7a7 7 0 0 1-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.9 8.9 0 0 0 13 21a9 9 0 0 0 9-9a9 9 0 0 0-9-9"
                ></path></svg
              >
            </div>
            <p class="regular text-large mobile-only:text-base">
              {localizedLatestComm}
            </p>
          </summary>
          <GetLastGallery client:load />
        </details>
      </div>
    </div>
  </div>
</Master>
