---
import "@/styles/dark-mode.css";

interface Props {
  localizedCharacterSheet: string;
  localizedFFXIVWCIF: string;
  localizedGeneralData: string;
  localizedRoute: string;
}

const {
  localizedCharacterSheet,
  localizedFFXIVWCIF,
  localizedGeneralData,
  localizedRoute,
} = Astro.props as Props;

function getLocalizedPath(page: string) {
  return localizedRoute
    ? `/${localizedRoute}/character-references?page=${page}`
    : `/character-references?page=${page}`;
}
---

<div id="char-refs-button-container" class="mt-[2.5%] flex justify-center">
  <div class="grid grid-cols-3 mobile-only:grid-cols-1 gap-3 select-none">
    <a
      id="charsheet-directlink"
      data-astro-prefetch="hover"
      href={getLocalizedPath("design-references")}
    >
      <div class="flex items-center button-glassbox p-2 rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-11 mobile-only:h-6 w-auto mr-1"
          viewBox="0 0 48 48"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m24.194 6.131l.13 35.738M34.887 8.312l.11 30.434M13.395 8.345l.104 30.658M6.972 24.13h34.056M9.175 35.396h29.78M9.105 13.382h29.531m-10.215 6.845a4.281 4.281 0 1 1 .003-.01m4.663 10.942c-1.43 2.31-6.506 3.63-11.339 2.947s-7.596-3.108-6.172-5.42s6.495-3.634 11.33-2.955s7.604 3.104 6.187 5.416"
          ></path><circle
            cx="24"
            cy="24"
            r="21.5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></circle>
        </svg>
        <span class="ultralight cursor-pointer underline-offset-2 text-xl">
          {localizedCharacterSheet}
        </span>
      </div>
    </a>
    <a
      data-astro-prefetch="hover"
      id="sizes-and-colors-directlink"
      href={getLocalizedPath("sizes-and-color-pallete")}
    >
      <div class="flex items-center button-glassbox p-2 rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-11 mobile-only:h-6 w-auto mr-1"
          viewBox="0 0 48 48"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 23.5h25.5a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H15c-5.243 0-9.5-4.257-9.5-9.5h0c0-5.243 4.257-9.5 9.5-9.5"
          ></path><circle
            cx="15"
            cy="33"
            r="3.5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></circle><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.5 33H5.504M18.5 33h24m-19.742 9.5v-19m10 0v19M8.283 39.718a9.5 9.5 0 0 1 0-13.436l18.03-18.03a2 2 0 0 1 2.83 0l10.606 10.606a2 2 0 0 1 0 2.828L37.935 23.5m-13.435 0l9.945-9.945m-13.606.171l9.774 9.774"
          ></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 42.5A9.5 9.5 0 0 1 5.5 33V7.5a2 2 0 0 1 2-2h15a2 2 0 0 1 2 2v2.565m-9.5 9.5V5.5m-9.5 9.742h13.823"
          ></path>
        </svg>
        <span class="ultralight cursor-pointer underline-offset-2 text-xl">
          {localizedGeneralData}
        </span>
      </div>
    </a>
    <a
      data-astro-prefetch="hover"
      id="wcif-directlink"
      href={getLocalizedPath("ffxiv-wcif")}
    >
      <div class="flex items-center button-glassbox p-2 rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-11 mobile-only:h-6 w-auto mr-1"
          viewBox="0 0 48 48"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m41.767 13.774l-.058 20.451L24.029 44.5l.058-20.451z"
          ></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m12.38 37.78l11.65 6.72l.04-12.41l.02-8.04l-7.49-4.32l-10.31-5.96l-.06 20.46l3.04 1.76"
          ></path><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m41.767 13.774l-17.68 10.275L6.291 13.775L23.971 3.5z"
          ></path><circle
            cx="24.029"
            cy="23.681"
            r="8.413"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></circle><path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m17.101 30.609l.979-.979m-3.429.979l-6.243 6.243l2.45 2.449l6.243-6.243v-2.449z"
          ></path>
        </svg>
        <span class="ultralight cursor-pointer underline-offset-2 text-xl">
          {localizedFFXIVWCIF}
        </span>
      </div>
    </a>
  </div>
</div>
