---
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote.tsx";
import CurrentDateTime from "@/components/tools/GetCurrentDateTime.tsx";
interface Props {
  locale: string;
  trueLocale: string;
  localizedWCIF: string;
}

const { locale, trueLocale, localizedWCIF } = Astro.props as Props;
let LocalizedMDX;
try {
  LocalizedMDX = await import(`../../prose/charrefs/${locale}/WCIF.mdx`);
} catch (e) {
  console.error("Error loading localized component:", e);
}
---

<style is:global>
  body .mdx h2,
  h3 {
    font-family: "regular", serif;
    font-weight: normal;
    font-style: normal;
  }
  body .mdx p,
  ul {
    font-family: "light", serif;
    font-weight: normal;
    font-style: normal;
  }
  body .mdx a {
    text-decoration: underline;
  }
</style>

<details
  id="ffxiv-wcif"
  class="glassbox p-3 mobile-only:p-2 rounded-lg"
  title={localizedWCIF}
>
  <summary class="mb-[1%] mt-[1%] flex items-center">
    <img
      src="/icons/content/charrefs/modeling-svgrepo-com.svg"
      class="h-11 mobile-only:h-6 w-auto mr-1"
      alt=`${localizedWCIF} icon`
    />
    <span class="regular text-2xl">{localizedWCIF}</span>
  </summary>
  <div
    class="mobile-only:flex not-mobile:absolute not-mobile:top-1 not-mobile:right-0 justify-end"
  >
    <StyledBlockquote blockquoteType={BlockquoteType.Updated}>
      <div class="regular flex ml-2">
        <CurrentDateTime lang={trueLocale} />
      </div>
    </StyledBlockquote>
  </div>
  <div class="flex justify-center">
    <div class="mdx mb-[2%] mt-[1%] pb-[3%]">
      {
        LocalizedMDX ? (
          <LocalizedMDX.default />
        ) : (
          <div>Error loading component</div>
        )
      }
    </div>
  </div>
</details>
