---
interface Props {
  buttonText: string;
  buttonID: string;
  buttonHref?: string;
}

const { buttonText, buttonID, buttonHref } = Astro.props as Props;
---

<a
  id={buttonID}
  role="button"
  aria-label={buttonText}
  href={buttonHref}
  target="_blank"
  class="select-none text-nowrap whitespace-nowrap button-glassbox p-2 rounded-md"
  title={buttonText}
>
  <div class="flex items-center">
    <div class="inline-block">
      <slot name="icon" />
    </div>
    <div class="inline-block">
      <h4 class="regular ml-2 text-base w1366:text-sm w1112:hidden">
        {buttonText}
      </h4>
    </div>
  </div>
</a>
