---
import Master from "@/layouts/Master.astro";
// Commissioned Works
import CWGalleryEngine from "@/app/commworks/CWGalleryEngine.astro";
//
interface Props {
  // From Master
  locale: string;
  /// Meta
  metaDescription: string;
  metaKeywords: string;
  /// OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  /// Aside
  localizedAcknowledgements: string;
  localizedCharRefs: string;
  localizedCommWorks: string;
  localizedContact: string;
  localizedFAQ: string;
  localizedInquiries: string;
  localizedToU: string;
  headerContent: string;
  // Commissioned Works
  localizedAllGalleriesToast: string;
  localizedGalleryRating: string;
  localizedLoading: string;
  localizedNowViewing: string;
  localizedRatingSelector: string;
  localizedTagSelector: string;
  localizedTagRating: string;
  localizedLoadingError: string;
  localizedDismissZoom: string;
  localizedZoom: string;
}

const {
  locale,
  localizedAcknowledgements,
  localizedCharRefs,
  localizedCommWorks,
  localizedContact,
  localizedFAQ,
  localizedInquiries,
  localizedToU,
  headerContent,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  localizedAllGalleriesToast,
  localizedGalleryRating,
  localizedLoading,
  localizedNowViewing,
  localizedRatingSelector,
  localizedTagSelector,
  localizedTagRating,
  localizedLoadingError,
  localizedDismissZoom,
  localizedZoom,
} = Astro.props as Props;
---

<Master
  locale={locale}
  localizedAcknowledgements={localizedAcknowledgements}
  localizedCharRefs={localizedCharRefs}
  localizedCommWorks={localizedCommWorks}
  localizedContact={localizedContact}
  localizedFAQ={localizedFAQ}
  localizedInquiries={localizedInquiries}
  localizedToU={localizedToU}
  headerContent={headerContent}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
>
  <div id="commworks-container" class="mobile-only:mt-[5%]">
    <CWGalleryEngine
      localizedAllGalleries={localizedAllGalleriesToast}
      localizedGalleryRating={localizedGalleryRating}
      localizedLoading={localizedLoading}
      localizedNowViewing={localizedNowViewing}
      localizedPerRating={localizedRatingSelector}
      localizedPerTag={localizedTagSelector}
      localizedTagRating={localizedTagRating}
      localizedLoadingError={localizedLoadingError}
      localizedZoom={localizedZoom}
      localizedDismiss={localizedDismissZoom}
    />
  </div>
</Master>
