---
import Master from "@/layouts/Master.astro";
// Commissioned Works
import CWGalleryEngine from "@/app/commworks/CWGalleryEngine.tsx";
// English-only notice
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote";
//
interface Props {
  // From Master
  locale: string;
  /// Meta
  metaDescription: string;
  metaKeywords: string;
  /// OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  /// Aside
  localizedAcknowledgements: string;
  localizedCharRefs: string;
  localizedCommWorks: string;
  localizedContact: string;
  localizedFAQ: string;
  localizedInquiries: string;
  localizedToU: string;
  headerContent: string;
  // Commissioned Works
  localizedAllGalleriesToast: string;
  localizedGalleryRating: string;
  localizedLoading: string;
  localizedNowViewing: string;
  localizedRatingSelector: string;
  localizedTagSelector: string;
  localizedTagRating: string;
  localizedLoadingError: string;
  localizedDismissZoom: string;
  localizedZoom: string;
}

const {
  locale,
  localizedAcknowledgements,
  localizedCharRefs,
  localizedCommWorks,
  localizedContact,
  localizedFAQ,
  localizedInquiries,
  localizedToU,
  headerContent,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  localizedAllGalleriesToast,
  localizedGalleryRating,
  localizedLoading,
  localizedNowViewing,
  localizedRatingSelector,
  localizedTagSelector,
  localizedTagRating,
  localizedLoadingError,
  localizedDismissZoom,
  localizedZoom,
} = Astro.props as Props;
---

<Master
  locale={locale}
  currentPage="commissioned-works"
  localizedAcknowledgements={localizedAcknowledgements}
  localizedCharRefs={localizedCharRefs}
  localizedCommWorks={localizedCommWorks}
  localizedContact={localizedContact}
  localizedFAQ={localizedFAQ}
  localizedInquiries={localizedInquiries}
  localizedToU={localizedToU}
  headerContent={headerContent}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
  localizedCopiedCustomizeString=""
  localizedCopiedGlamourerString=""
>
  {
    locale !== "en" && (
      <div class="flex items-center justify-start">
        <StyledBlockquote blockquoteType={BlockquoteType.Language}>
          <p class="text-base mobile-only:text-sm regular">
            {locale === "es" && <>Sólo disponible en 🇬🇧</>}
            {locale === "pt" && <>Disponível apenas em 🇬🇧</>}
            {locale === "ja" && <>🇬🇧でのみ利用可能</>}
          </p>
        </StyledBlockquote>
      </div>
    )
  }
  <div id="commworks-container" class="">
    <CWGalleryEngine
      locale={locale}
      localizedDismiss=""
      localizedZoom=""
      client:only="react"
      localizedLoading={localizedLoading}
      localizedLoadingError={localizedLoadingError}
    />
  </div>
</Master>
