---
import Master from "@/layouts/Master.astro";
// Commissioned Works
import CWGalleryEngine from "@/app/commworks/CWGalleryEngine.tsx";
// English-only notice
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote";
//
interface Props {
  // From Master
  locale: "en" | "ja" | "pt" | "es";
  /// Meta
  metaDescription: string;
  metaKeywords: string;
  /// OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  /// Aside
  localizedAcknowledgements: string;
  localizedCharRefs: string;
  localizedCommWorks: string;
  localizedContact: string;
  localizedFAQ: string;
  localizedInquiries: string;
  localizedToU: string;
  headerContent: string;
  // Commissioned Works
  localizedLoading: string;
  localizedLoadingError: string;
  localizedDismissZoom: string;
  localizedZoom: string;
}

const {
  locale,
  localizedAcknowledgements,
  localizedCharRefs,
  localizedCommWorks,
  localizedContact,
  localizedFAQ,
  localizedInquiries,
  localizedToU,
  headerContent,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  localizedLoading,
  localizedLoadingError,
  localizedDismissZoom,
  localizedZoom,
} = Astro.props;

const localeStrings = {
  es: "Etiquetas, calificaciones y descripciones solo disponibles en inglés",
  pt: "Tags, classificações e descrições disponíveis apenas em inglês",
  ja: "ラベル、評価、説明は英語のみで提供されています",
} as const;

type ValidLocale = keyof typeof localeStrings;

function isValidLocale(locale: string): locale is ValidLocale {
  return locale in localeStrings;
}

const localizedString = isValidLocale(locale) ? localeStrings[locale] : "";
---

<Master
  locale={locale}
  currentPage="commissioned-works"
  localizedAcknowledgements={localizedAcknowledgements}
  localizedCharRefs={localizedCharRefs}
  localizedCommWorks={localizedCommWorks}
  localizedContact={localizedContact}
  localizedFAQ={localizedFAQ}
  localizedInquiries={localizedInquiries}
  localizedToU={localizedToU}
  headerContent={headerContent}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
  localizedCopiedCustomizeString=""
  localizedCopiedGlamourerString=""
>
  {
    locale !== "en" && localizedString && (
      <div
        class="flex items-center justify-start"
        title={localizedString}
        aria-label={localizedString}
      >
        <StyledBlockquote blockquoteType={BlockquoteType.Language}>
          <p class="text-base mobile-only:text-sm regular">{localizedString}</p>
        </StyledBlockquote>
      </div>
    )
  }
  <div id="commworks-container" class="">
    <CWGalleryEngine
      locale={locale}
      localizedDismiss={localizedDismissZoom}
      localizedZoom={localizedZoom}
      client:only="react"
      localizedLoading={localizedLoading}
      localizedLoadingError={localizedLoadingError}
    />
  </div>
</Master>
