---
import { Image } from "astro:assets";
import A from "@/components/text/SimpleInlineAnchor";
import StyledBlockquote from "@/components/text/StyledBlockquote";
import AttireGalleriesWrapper from "./AttireGalleriesWrapper.astro";
import { BlockquoteType } from "@/components/text/StyledBlockquote";

// Import the image
import attireIcon from "/public/icons/content/charrefs/body-underwear-svgrepo-com.svg";

interface Props {
  locale: "en" | "ja" | "pt" | "es";
  localizedAttires: string;
  localizedAttireArtworks: string;
  localizedClickToZoom: string;
  localizedDismiss: string;
  localizedDownload: string;
}

const {
  locale,
  localizedAttires,
  localizedAttireArtworks,
  localizedClickToZoom,
  localizedDismiss,
  localizedDownload,
} = Astro.props;

const localeMessages = {
  en: "Download the Mare `.mcdf` files for all attires",
  ja: "すべての衣装 Mare .mcdf ファイルをダウンロードする",
  pt: "Baixe os arquivos .mcdf do Mare para todas as roupas",
  es: "Descarga los archivos .mcdf de Mare para todos los atuendos",
};
---

<details
  id="attires"
  class="mobile-only:p-2 rounded-md shadowless-glassbox p-3"
  title={localizedAttires}
>
  <summary class="flex items-center">
    <div class="relative">
      <Image
        loading="eager"
        src={attireIcon}
        class="h-11 mobile-only:h-6 w-auto mr-4"
        alt={`${localizedAttires} icon`}
      />
    </div>
    <h3
      class="text-large w-1150:text-large mobile-only:text-base regular"
      aria-label={localizedAttires}
      title={localizedAttires}
    >
      {localizedAttires}
    </h3>
  </summary>
  <div class="ultrawide-only:w-[70%] not-ultrawide:w-[90%] flex gap-x-1">
    <StyledBlockquote blockquoteType={BlockquoteType.Download}>
      <div class="flex items-center">
        <A id="download-all-references" className="flex items-center" h="">
          <h3
            class="light inline-block w-1150:text-sm mobile-only:text-xs"
            aria-label={localeMessages[locale]}
            title={localeMessages[locale]}
          >
            {localeMessages[locale]}
          </h3>
        </A>
      </div>
    </StyledBlockquote>
  </div>
  <div class="grid grid-cols-1 gap-y-2">
    <AttireGalleriesWrapper
      {localizedAttireArtworks}
      {localizedClickToZoom}
      {localizedDismiss}
      {localizedDownload}
    />
  </div>
</details>
