---
import { Image } from "astro:assets";
import ColorSwatch from "@/app/charrefs/color-pallette/ColorSwatch";
//
import TextContent from "@/components/wrappers/TextContent.tsx";
//
interface Props {
  locale: "en" | "ja" | "pt" | "es";
}

const { locale } = Astro.props;
const localizedColorPallete = {
  en: "Color Pallete",
  ja: "カラー・パレット",
  es: "Paleta de Colores",
  pt: "Paleta de Cores",
};
---

<div class="flex items-center">
  <Image
    loading="eager"
    width={48}
    height={48}
    src="/icons/content/charrefs/bxs--color-fill.svg"
    class="h-11 w-auto mr-4 mobile-only:h-6 dark:invert"
    alt={`${localizedColorPallete[locale]} icon`}
    loading="lazy"
  />
  <h3
    id="color-pallette"
    class="regular"
    aria-label={localizedColorPallete[locale]}
    title={localizedColorPallete[locale]}
  >
    {localizedColorPallete[locale]}
  </h3>
</div>
<TextContent>
  <div class="mobile-only:p-2" title={localizedColorPallete[locale]}>
    <div class="grid grid-cols-1 gap-y-1 coil">
      <ColorSwatch client:load locale={locale} />
    </div>
  </div>
</TextContent>
<style>
  .coil {
    font-family: "light";
  }
</style>
