---
import Master from "@/layouts/Master.astro";
// Commissioned Works
import { Image } from "astro:assets";
import CWGalleryEngine from "@/app/commworks/CWGalleryEngine.tsx";
// English-only notice
import StyledBlockquote, {
  BlockquoteType,
} from "@/components/text/StyledBlockquote";
//
interface Props {
  // From Master
  locale: "en" | "ja" | "pt" | "es";
  /// Meta
  metaDescription: string;
  metaKeywords: string;
  /// OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  headerContent: string;
  // Commissioned Works
  localizedLoading: string;
  localizedLoadingError: string;
  localizedDismissZoom: string;
  localizedZoom: string;
}

const {
  locale,
  headerContent,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  localizedLoading,
  localizedLoadingError,
  localizedDismissZoom,
  localizedZoom,
} = Astro.props;

const localeLangNotices = {
  es: "Etiquetas, calificaciones y descripciones solo disponibles en inglés",
  pt: "Tags, classificações e descrições disponíveis apenas em inglês",
  ja: "ラベル、評価、説明は英語のみで提供されています",
} as const;

type ValidLocale = keyof typeof localeLangNotices;

function isValidLocale(locale: string): locale is ValidLocale {
  return locale in localeLangNotices;
}

const langNotices = isValidLocale(locale) ? localeLangNotices[locale] : "";
---

<Master
  locale={locale}
  currentPage="commissioned-works"
  headerContent={`${headerContent} - Di-XIV`}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImageURL={metaImageURL}
  metaImageFormat={metaImageFormat}
  metaImageWidth={metaImageWidth}
  metaImageHeight={metaImageHeight}
  metaImageAlt={metaImageAlt}
>
  {
    locale !== "en" && langNotices && (
      <div
        class="flex items-center justify-start"
        title={langNotices}
        aria-label={langNotices}
      >
        <StyledBlockquote blockquoteType={BlockquoteType.Language}>
          <p class="text-base mobile-only:text-sm regular">{langNotices}</p>
        </StyledBlockquote>
      </div>
    )
  }
  <div class="flex items-center">
    <Image
      loading="eager"
      src="/icons/aside/material-symbols--wall-art-outline.svg"
      class="h-11 mobile-only:h-6 w-auto mr-4 dark:invert"
      alt={`${headerContent} icon`}
      width={44}
      height={44}
    />
    <h2 class="bold" aria-label={headerContent} title={headerContent}>
      {headerContent}
    </h2>
  </div>
  <div id="commworks-container" class="">
    <CWGalleryEngine
      locale={locale}
      localizedDismiss={localizedDismissZoom}
      localizedZoom={localizedZoom}
      client:only="react"
      localizedLoading={localizedLoading}
      localizedLoadingError={localizedLoadingError}
    />
  </div>
</Master>
