---
// Constants
const currentUrl = Astro.url.toString();
// Preload
import PreloadAssets from "@/components/tools/preload/PreloadAssets.astro";
// Layout
import Aside from "@/components/layout/aside/Aside.astro";
import Main from "@/components/layout/main/Main.astro";
import Footer from "@/components/layout/footer/Footer.astro";
///
import ASCIIArt from "@/app/master/ASCIIArt.astro";
// Styles
import "@/styles/global.css";
/// Decorations
import "@/styles/decorations/buttons.css";
import "@/styles/decorations/details-accordion.css";
import "@/styles/decorations/color.css";
import "@/styles/decorations/glassbox.css";
import "@/styles/decorations/polkadot-bg.css";
import "@/styles/decorations/scrollbar.css";
/// Typography
import "@/styles/fonts/size.css";
import "@/styles/fonts/decorations.css";
import "@/styles/fonts/family.css";
import "@/styles/fonts/weight-style.css";
/// Animations
import "@/styles/animations/keyframes.css";
import "@/styles/animations/transitions.css";
import "@/styles/decorations/noise-bg-animation.css";
// Notices
import WebkitNotice from "@/components/logic/BrowserEngineNotices/WebkitNotice.astro";
// Refactored Logic
import PolkadotBg from "@/app/master/PolkadotBg.astro";
import BlinkScrollbar from "@/app/master/BlinkScrollbar.astro";
//
interface Props {
  // Base
  locale: "en" | "ja" | "pt" | "es";
  currentPage: string;
  // Meta
  metaDescription: string;
  metaKeywords: string;
  // OpenGraph/Rich Links
  metaImageURL: string;
  metaImageFormat: string;
  metaImageHeight: string;
  metaImageWidth: string;
  metaImageAlt: string;
  // Header
  headerContent: string;
}

const {
  locale,
  headerContent,
  metaImageURL,
  metaDescription,
  metaKeywords,
  metaImageFormat,
  metaImageHeight,
  metaImageWidth,
  metaImageAlt,
  currentPage,
} = Astro.props;
---

<html lang={locale}>
  <ASCIIArt />
  <meta charset="utf-8" />
  <link rel="canonical" href={currentUrl} />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />
  <meta name="color-scheme" content="light, dark" />
  <link rel="icon" href="/favicon.ico" type="image/png" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:url" content={currentUrl} />
  <!-- Meta descriptions -->
  <meta name="description" content={metaDescription} />
  <meta name="keywords" content={metaKeywords} />
  <meta name="author" content="Di-XIV" />
  <meta name="title" content={headerContent} />
  <!-- OpenGraph -->
  <meta property="og:title" content={headerContent} />
  <meta property="og:description" content={metaDescription} />
  <meta property="og:image" content={metaImageURL} />
  <meta property="og:image:type" content={metaImageFormat} />
  <meta property="og:image:height" content={metaImageHeight} />
  <meta property="og:image:width" content={metaImageWidth} />
  <meta property="og:image:alt" content={metaImageAlt} />
  <meta property="og:url" content={currentUrl} />
  <meta property="og:locale" content={locale} />
  <meta property="og:site_name" content={headerContent} />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content={metaImageURL} />
  <meta name="twitter:creator" content="@xiv_di" />
  <meta name="twitter:site" content="@xiv_di" />
  <!-- Head Components -->
  <PreloadAssets />
  <title>{headerContent}</title>

  <body
    id="body"
    class="flex flex-col
    min-h-[100svh]
    bg-[#efefef] text-[#181a1b] dark:bg-[#181a1b] dark:text-[#efefef]"
  >
    <h1 class="sr-only">{headerContent}</h1>
    <Aside locale={locale} />
    <div class="flex flex-col flex-grow z-[1]">
      <div class="flex-grow overflow-auto">
        <Main locale={locale} currentPage={currentPage}>
          <slot />
        </Main>
      </div>
      <Footer locale={locale} currentPage={currentPage} />
    </div>
    <WebkitNotice locale={locale} />
  </body>
</html>
<PolkadotBg />
<BlinkScrollbar />
